

<div class="resume-section-content">
    <form  method="post">
        <h2 class="mb-5">İletisim</h2>
        <label> Ad Soyad </label>
        <input type="text" name="AdSoyad" class="form-control" value="" />

        <label> Mail </label>
        <input type="text" name="Mail" class="form-control" value="" />

        <label> Konu </label>
        <input type="text" name="Konu" class="form-control" value="" />

        <label> Mesaj </label>
        <input type="text" name="Mesaj" class="form-control" value="" />
        <br />
        <button class="btn btn-info">Mesaj Gönder   </button>
    </form>
</div>